<h1>GroupWards#index</h1>

<% @group.group_words.each do |group| %>
   <%= group.word %>
   <% if @group.owner_id == current_user.id %>
     <%= link_to "削除", group_groupword_path(@group,group), method: :delete %>
   <% end %>
<% end %>

<% if @group.owner_id == current_user.id %>
  <%= link_to "ことば作成", new_group_groupword_path %>
<% end %>
