<h1>GroupWards#new</h1>

　<%= form_with model: @group_word, url: group_group_words_path, method: :post, local:true do |f| %>
  <%#= render 'layouts/errors', alt: @group %>

  <%= f.label :word, "新しいことば" %>
  <%= f.text_field :word, class: 'form-control' %>
  <%= f.submit "作成する" %>
<% end %>
